/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #353430;
  --primary-color: #353430;
  --secondary-color: #353430;
  --tertiary-color: #ffc2e6;
  --main-bg-color: #fff1f7;
  --hover-color: rgba(53, 52, 48, 0.4);
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --primary-color: #353430;
    --secondary-color: #353430;
    --tertiary-color: #ffc2e6;
    --main-bg-color: #fff1f7;
    --hover-color: rgba(53, 52, 48, 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }
  .page-title {
    --accent-color: #ff8dcb;
  }

  .block-title {
    --accent-color: #ff8dcb;
  }
  .link {
    --accent-color: #ff8dcb;
  }

  .header__decor {
    display: none;
  }
}

.theme-light .page-title {
  --accent-color: #ff8dcb;
}

.theme-light .block-title {
  --accent-color: #ff8dcb;
}

.theme-light .link {
  --accent-color: #ff8dcb;
}

.theme-light .header__decor {
  display: none;
}
