/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-size: 18px;
  background-color: var(--primary-color);
  line-height: 130%;
}

.header {
  height: 100vh;
}

.header__title {
  display: flex;
  flex-direction: column;
  line-height: 82.5%;
}
