/* Компоненты */

.section {
  margin-block-end: var(--section-gap);
}

.page-title {
  color: var(--tertiary-color);
  font-size: var(--title-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.section-title {
  margin-block-end: var(--big-margin);
  color: var(--accent-color);
  font-weight: bold;
}

.block:not(:last-child) {
  margin-block-end: var(--big-margin);
}

.block-title {
  margin-block-end: var(--small-margin);
  color: var(--primary-color);
  font-weight: bold;
  background-color: var(--accent-color);
}

.text {
  color: var(--secondary-color);
}

.text-decor {
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding: 0 var(--main-padding);
  font-family: "IBM Plex mono";
  font-size: 18px;
  line-height: 130%;
  background-color: var(--main-bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  margin-block-end: 40px;
  padding: var(--main-padding) 0;
  min-block-size: 668px;
  block-size: 100vh; /* Fallback */
}

@supports (block-size: 100dvb) {
  .footer {
    block-size: 100dvb;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--main-padding);
  right: 0;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}
.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--main-padding);
  left: 0;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header__decor {
  position: absolute;
  top: var(--main-padding);
  right: 9px;
  display: flex;
  align-items: center;
}
.header__decor:before {
  content: "rec";
  margin-left: 10px;
  color: var(--accent-color);
  line-height: 25px;
  text-transform: uppercase;
}

.header__decor:after {
  content: "";
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px 4px;
  color: var(--accent-color);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button.header__theme-menu-button_active {
  border-color: var(--accent-color);
}

.header__title {
  display: flex;
  flex-direction: column;
}

.header__subtitle {
  margin-block-end: 0;
}

.how__block-title {
  margin-block-end: var(--big-margin);
}

.how__block-subtitle {
  font-weight: normal;
}

.pictures {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pictures__title {
  margin-block-end: 0;
}
/* .pictures__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
.pictures__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vh; /* Fallback */
  min-block-size: 668px;  
}

@supports (block-size: 100dvb) {
  .footer {
    block-size: 100dvb;
  }
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .block {
    grid-column: 2;
  }

  .header {
    margin-block-end: 60px;
  }

  .header__title {
    flex-direction: row;
    margin-left: -20px;
  }

  .header__title span:first-child {
    margin-inline-end: 75px;
  }

  .header__subtitle {
    justify-self: end;
    max-width: 364px;
  }

  .how__title {
    grid-row: span 2;
  }

  .what__block {
    grid-column: span 2;
  }

  .pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  /* .pictures__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 
  } */

  .pictures__title {
    grid-column: span 3;
  }
  .pictures__image_sunset {
    grid-column: span 2;
    grid-row: 2;
  }
  .pictures__image_ice-cream {
    grid-column: 3;
    grid-row: 2 / span 2;
  }
  .pictures__image_type {
    grid-column: 1;
    grid-row: 3 / span 2;
  }
  .pictures__image_books {
    grid-column: 2;
    grid-row: 3;
  }

  .pictures__image_street {
    grid-column: 2 / span 2;
    grid-row: 4;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__subtitle {
    max-width: 461px;
  }
  .what {
    grid-template-columns: repeat(3, 1fr);
  }

  .what__block {
    grid-column: auto;
    grid-row: 2;
  }
}
