/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --primary-color: #000028;
  --secondary-color: #F1B2CE;
  --tertiary-color: #DB00FF;
}
